@media screen and (max-width: 768px) {
	* {
		--debug-max-width: 'tablet (sm) = ..768';
	}

	:root {
		--container-padding-inline: 6%;
		--footer-padding-inline: 6%;
	}

	.keywords {
		li {
			&:nth-child(n + 10) {
				display: none;
			}
		}
	}

	.promo {
		background-image: url('../img/tablet_bg.jpg');

		&__title {
			font-size: 48px;
		}
		&__subtitle {
			margin-top: 80px;
		}
		&__address {
			margin-top: 80px;

			&::before {
				left: -40px;
			}
		}
	}
}
