@media screen and (max-width: 1440px) {
	* {
		--debug-max-width: 'desktop (lg) = ..1440';
	}

	.keywords {
		padding: 0 20px;
	}

	.promo {
	}

	.about {
		&__text {
			width: 100%;
		}
	}

	.works {
	}

	.inspiration {
	}

	.customers {
	}

	.footer {
	}
}
