@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.benefit-card-header {
	min-height: 65px;
	color: v.$black;
	font-weight: 700;
	font-size: 20px;
}

// xl: 1200px,
@include m.media-up(xl) {
	.benefit-card-header {
		min-height: auto;
	}
}
