@media screen and (min-width: 1920px) {
	.blog {
		padding: 100px 0;

		&__wrapper {
			align-items: stretch;
		}
		&__card {
			width: 670px;
		}
		&__img {
			height: 241px;
			object-fit: fill;
		}
	}
}
