@use '/src/scss/base/variables.scss' as v;

@media screen and (min-width: 768px) {
	.catalog {
		&__tabs {
			width: 460px;
		}
		&__content {
			position: relative;
			padding: 10px;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				background-color: v.$dark;
				width: 200px;
				height: 1px;
				content: '';
			}
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				background-color: v.$dark;
				width: 1px;
				height: 200px;
				content: '';
			}
			&-item {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
			}
		}
	}
}
