@use '/src/scss/base/mixins.scss' as m;

@media screen and (min-width: 768px) {
	.catalog {
		&__tabs {
			width: 460px;
		}
		&__content {
			position: relative;
			padding: 10px;
			@include m.angle-decoration;

			&-item {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
			}
		}
	}
}
