@media screen and (min-width: 1920px) {
	.catalog {
		padding: 100px 0;

		&__content {
			&-item {
				column-gap: 83px;
			}
		}
		&__card {
			width: 285px;
			min-height: 250px;

			&-img {
				height: 180px;
			}
			&-info {
				row-gap: 7px;
				padding: 10px 10px 15px;
			}
		}
	}
}
