@use 'styles/variables.scss' as v;
@use 'styles/mixins.scss' as m;

.container {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 300px;

	// md: 788
	// @include m.media-up(md) {
	// 	max-width: 740px;
	// }

	// xl: 1200px,
	@include m.media-up(xl) {
		max-width: 1140px;
	}

	// xxxl: 1920px,
	// @include m.media-up(xxxl) {
	// 	max-width: 1520px;
	// }
}
