* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
}

.title {
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.title__colored {
	color: #f9bf3b;
	font-size: 41px;
	line-height: 41px;
}

.title__big {
	color: #fff;
	font-size: 80px;
	line-height: 80px;
}

.btn {
	display: block;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 4px;
	background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
	padding: 0 15px;
	min-width: 315px;
	min-height: 72px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: normal;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
	text-transform: uppercase;
}

.divider {
	margin: 0 auto;
	background: #f9bf3b;
	width: 220px;
	height: 7px;
}
/* ************************************************************************
	promo
*/
.promo {
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding: 22px 0 53px 0;
	/* min-height: 900px; */
}

.logo__img {
	display: block;
	margin: 0 auto;
}

.promo .btn {
	margin-top: 75px;
}

.logo__text {
	margin-top: 13px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

.promo h1 {
	margin-top: 52px;
}

.promo h2 {
	margin-top: 12px;
}

.promo__text {
	margin-top: 20px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 28px;
}

.promo__text span {
	color: #f9bf3b;
	text-transform: uppercase;
}

.promo__more-text {
	margin-top: 75px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

.promo__more-img {
	display: block;
	margin: 10px auto 0;
}

/* ************************************************************************
	intensive
*/

.intensive {
	background: #efefef;
}

.intensive__title {
	align-items: center;
	padding-top: 80px;
	min-width: 541px;
	min-height: 35px;
	color: #252525;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	font-family: 'Roboto';
	text-align: center;
	text-transform: uppercase;
}

.intensive .divider {
	margin-top: 20px;
}

.intensive__subtitle {
	align-items: center;
	margin-top: 20px;
	color: #4a4a4a;
	font-style: normal;
	font-weight: 500;
	font-size: 23px;
	line-height: 27px;
	font-family: 'Roboto';
	text-align: center;
}

.intensive__wrapper {
	display: flex;
	/* flex-flow: row wrap; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/* gap: 15px 30px; */
}

.intensive__item {
}

.intensive__img {
}

.intensive__descr {
	width: 360px;
	/* height: 42px; */

	color: #4a4a4a;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;

	font-family: 'Roboto';
	text-align: center;
}
