@use '/src/scss/base/variables.scss' as v;

@media screen and (min-width: 1200px) {
	.touch {
		&__img-tea {
			box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
			// width: 550px;
		}
		&__left {
			display: block;
			padding-right: 20px;
		}
		&__right {
			display: block;
			position: relative;
			padding-left: 20px;
		}
	}
}
