@media screen and (min-width: 1920px) {
	.touch {
		padding-top: 100px;

		&__img {
			width: 100%;
			height: 356px;
		}
		&__form {
			padding-left: 143px;
			width: auto;
		}
		&__fieldset {
			display: flex;
			column-gap: 45px;
		}
		&__label,
		&__check-block,
		&__input,
		&__textarea {
			width: 300px;
		}
		&__decor {
			right: 75px;
		}
	}
}
