@use '/src/scss/base/variables.scss' as v;

@media screen and (min-width: 1200px) {
	.touch {
		&__img {
			display: block;
			box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
			width: 550px;
			height: 342px;
			object-fit: cover;
		}
		&__input {
			&:hover {
				outline: 1px solid v.$dark;
				border: none;
			}
		}
		&__form {
			padding-left: 20px;
		}
	}
}
