@use '/src/scss/base/mixins.scss' as m;
@use '/src/scss/base/variables.scss' as v;

.btn-default {
	@include m.button;
	width: 230px;
	height: 50px;
	font-size: 20px;

	&:hover {
		background-color: v.$dark;
		color: v.$light;
	}
	&:active {
		box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
		border: none;
		background: rgba(217, 217, 217, 0.1);
		color: v.$dark;
	}
}

.btn-send {
	@include m.button;
	width: 220px;
	height: 40px;
	font-size: 16px;

	&:focus {
		outline: 1px solid v.$ceramic;
		border: 1px solid v.$ceramic;
	}
	&:disabled {
		border: 1px solid v.$ui-disabled;
		color: v.$ui-disabled;
	}
}

.btn-submit {
	@include m.button;
	border: 1px solid v.$light;
	// background-color: v.$dark;
	width: 90px;
	height: 40px;
	color: v.$light;
	font-size: 16px;

	&:disabled {
		border: 1px solid v.$ui-disabled;
		color: v.$ui-disabled;
	}
}

@media screen and (min-width: 1200px) {
	.btn-default {
		&:hover {
			background-color: v.$dark;
			color: v.$light;
		}
		&:active {
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4) inset;
			border: none;
			background: rgba(217, 217, 217, 0.1);
			color: v.$dark;
		}
	}
	.btn-send {
		&:active {
			outline: 1px solid v.$ceramic;
			border: 1px solid v.$ceramic;
		}
		&:hover {
			border: 1px solid v.$ceramic;
			color: v.$ceramic;
		}
	}
}

@media screen and (min-width: 1920px) {
	.btn-default {
		width: 330px;
		height: 60px;
	}
}
