@media screen and (min-width: 1920px) {
	.works {
		padding-top: 100px;

		&__slider {
			margin: 80px 85px 0;
		}
		.icon-left-open {
			left: 40px;
		}
		.icon-right-open {
			right: 40px;
		}
	}
}
