@use '/src/scss/base/variables.scss' as v;
@use '/src/scss/base/mixins.scss' as m;

.footer {
	background-color: v.$dark;
	padding: 50px 0;
	color: v.$light;

	input#email.just-validate-error-field {
		outline: transparent;
		border: 1px solid v.$ui-error;
		&::placeholder {
			color: v.$ui-error;
		}
	}

	&__wrapper {
		display: flex;
		row-gap: 40px;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	&__header {
		@include m.title;
		color: v.$light;
		// font-weight: 500;
		font-size: 16px;
		text-align: left;
	}
	&__newsletter {
		display: block;
		width: 100%;

		&-wrapper {
			width: 293px;
		}
		&-text {
			margin-top: 40px;
			font-weight: 400;
			font-size: 16px;
		}
	}
	&__input {
		outline: none;
		border: none;
		border-bottom: 1px solid v.$ui-active;
		background-color: v.$dark;
		background: transparent;
		color: v.$light;
	}
	&__form {
		display: flex;
		row-gap: 20px;
		flex-direction: column;
		margin-top: 40px;
	}
	&__checkbox-block {
		font-size: 14px;
	}
	&__links {
		display: flex;
		row-gap: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 212px;
	}
	&__nav {
		margin-top: 40px;

		ul {
			display: flex;
			row-gap: 20px;
			flex-direction: column;
			padding-inline: 0;
			list-style: none;

			a {
				color: v.$light;
				text-decoration: none;
			}
		}
	}
	&__social {
		display: flex;
		row-gap: 40px;
		flex-direction: column;

		&-icons {
			display: flex;
			column-gap: 10px;
			flex-direction: row;

			span {
				display: block;
				background-color: v.$dark;
				width: 24px;
				height: 24px;
				color: v.$light;
				font-size: 20px;
				line-height: 24px;
				text-align: center;

				&::before {
					margin: 0;
				}
			}
		}
	}
	&__copyright {
		display: block;
		margin-top: 40px;
		text-align: center;
	}
}
