footer {
	position: relative;
	padding: 14px 23px 39px;

	a {
		text-decoration: none;
		// &:hover {
		// 	text-decoration: none;
		// }
	}

	.footer {
		&_divider {
			margin: 0 auto;
			background: #1fbad6;
			width: 299px;
			height: 4px;
		}

		&_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 32px;
		}

		&_col {
			width: 33%;
		}

		&_social {
			display: flex;
			justify-content: space-between;
			width: 160px;

			&_item {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 4px;
				border-radius: 100%;
				background-color: #070716;
				width: 32px;
				height: 32px;

				i,
				span::before {
					color: #fff;
				}
			}
		}

		&_links {
			margin: 0 auto;
			width: 390px;

			&_main {
				display: flex;
				justify-content: space-between;
				padding: 0 10px;

				a {
					color: #070716;
					font-weight: 300;
					font-size: 15px;
					text-transform: uppercase;
				}
			}

			&_sub {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;

				a {
					color: #999999;
					font-weight: 300;
					font-size: 11px;
					text-transform: uppercase;
				}
			}

			&_lang {
				display: block;
				margin: 0 auto;
				margin-top: 19px;
				color: #1fbad6;
				font-weight: 400;
				font-size: 11px;
				text-align: center;
				text-transform: uppercase;
			}
		}

		&_mobile {
			display: flex;
			justify-content: flex-end;

			&:nth-child(n) > :not(:first-child) {
				margin-left: 6px;
			}
		}
	}
}
