.promo {
	background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
	padding: 150px 0 135px 0;
	min-height: 800px;

	&_header {
		margin: 0;
		color: #ffffff;
		font-weight: 700;
		font-size: 60px;
		line-height: 60px;
		text-align: center;
		text-transform: uppercase;
	}

	&_subheader {
		margin: 0;
		margin-top: 22px;
		color: #ffffff;
		font-weight: 700;
		font-size: 36px;
		line-height: 36px;
		text-align: center;
		text-transform: uppercase;
	}

	&_descr {
		margin-top: 23px;
		color: #ffffff;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}

	&_btn {
		display: block;
		margin: 118px auto 0;
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
		border: none;
		border-radius: 4px;
		background-image: linear-gradient(
			to top,
			$color_aqua_1 0%,
			$color_aqua_2 100%
		);
		width: 259px;
		height: 63px;
		color: #ffffff;
		font-weight: 400;
		font-size: 18px;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
		text-transform: uppercase;
		@include btn_hover;
	}
}
