* {
	font-family: 'Roboto', sans-serif;
}

.label {
	margin: 0 auto;
	background-color: #000000;
	padding: 5px 12px;
	width: 113px;
	height: 24px;
	color: #ffffff;
	font-weight: 400;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}

.title {
	margin: 33px auto 0;
	color: #222222;
	font-weight: 700;
	font-size: 38px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
}

.subtitle {
	margin-top: 19px;
	color: #222222;
	font-weight: 400;
	font-size: 17px;
	text-align: center;
}
