.reasons {
	background-color: white;
	padding: 20px 0 64px;

	.label {
		background-color: #000000;
		color: #ffffff;
	}

	.title {
		color: #222222;
	}

	.reasons_block {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		padding-top: 16px;
		height: 100%;
	}

	.reasons_round {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 25px;
		border-radius: 100%;
		background: #1eacc7;
	}

	.reasons_img_block {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 116px;
		height: 116px;
	}

	.reasons_descr {
		align-self: flex-start;
		margin-right: 70px;
	}

	.reasons_subtitle {
		color: #1eacc7;
		font-weight: 400;
		font-size: 17px;
		line-height: 21px;
	}

	.reasons_text {
		color: #202020;
		font-weight: 300;
		font-size: 15px;
		line-height: 21px;
	}
}
