$white: #ffffff;
$black: #020106;
$yellow: #f3a917;
$dark: #292a2f;
$grey: #757c84;

// Переменные breakpoints
$breakpoints: (
	xs: 0,
	// Мобильные (портрет)
	sm: 576px,
	// Мобильные (ландшафт)
	md: 768px,
	// Планшеты
	lg: 992px,
	// Десктопы малые
	xl: 1200px,
	// Десктопы большие
	xxl: 1400px,
	// Десктопы очень большие
	xxxl: 1920px,
);
