* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.grid-container {
	display: grid;
	/*
	grid-template-rows: 60px 60px 60px;
	grid-template-columns: 250px 250px 250px;
	*/
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(3, 1fr) 50px;
	/* 
		grid-template: 60px 60px 60px/250px 250px 250px;
		gap: 10px 20px; 
	*/
	background-color: deepskyblue;
	width: 600px;
	height: 600px;
}

.grid-elem {
	border: 1px solid darkorange;
	border-radius: 6px;
	background-color: rgba(1, 1, 96, 1);
	/* height: 50px; */
	color: #fff;
	font-size: 26px;
	line-height: 50px;
	text-align: center;
}
