* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.grid-container {
	display: grid;
	grid-template-rows: repeat(3, minmax(100px, auto));
	grid-template-columns: repeat(3, minmax(150px, 300px));
	grid-auto-rows: minmax(100px, auto);
	gap: 10px;
	background-color: deepskyblue;
	width: 1000px;
	height: 600px;
}

.grid-elem {
	/*
		display: flex;
		justify-content: center;
		align-items: center;
	*/
	border: 2px solid darkorange;
	border-radius: 6px;
	background-color: rgba(1, 1, 96, 1);
	padding: 1.5em;
	color: #fff;
	font-size: 18px;
	/* line-height: 24px; */
	/* text-align: center; */
}

#first {
	grid-row: 1;
	grid-column: 1 / span 2;
	/* 
		align-self: start; 
		justify-self: center; 
	*/
	place-self: start center;
}

#second {
	grid-row: 3;
	grid-column: 2;
}

#third {
	grid-row: 2 / 4;
	grid-column: 3;
}
