* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1140px;
}

.title {
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.title__colored {
	color: #f9bf3b;
	font-size: 41px;
	line-height: 41px;
}

.title__big {
	color: #fff;
	font-size: 80px;
	line-height: 80px;
}

.btn {
	display: block;
	cursor: pointer;
	margin: 0 auto;
	border-radius: 4px;
	background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
	padding: 0 15px;
	min-width: 315px;
	min-height: 72px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: normal;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
	text-transform: uppercase;
}

.divider {
	margin: 0 auto;
	background: #f9bf3b;
	width: 220px;
	height: 7px;
}

/* ************************************************************************
	promo
*/
.promo {
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding: 22px 0 53px 0;
	/* min-height: 900px; */
}

.logo__img {
	display: block;
	margin: 0 auto;
}

.promo .btn {
	margin-top: 75px;
}

.logo__text {
	margin-top: 13px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

.promo h1 {
	margin-top: 52px;
}

.promo h2 {
	margin-top: 12px;
}

.promo__text {
	margin-top: 20px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 28px;
}

.promo__text span {
	color: #f9bf3b;
	text-transform: uppercase;
}

.promo__more-text {
	margin-top: 75px;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
}

.promo__more-img {
	display: block;
	margin: 10px auto 0;
}

/* ************************************************************************
	intensive
*/

.intensive {
	background: #efefef;
	padding: 80px 0;
}

.intensive__title {
	color: #252525;
	font-weight: 500;
	font-size: 30px;
}

.intensive .divider {
	margin-top: 14px;
}

.intensive__subtitle {
	margin-top: 15px;
	color: #4a4a4a;
	font-weight: 500;
	font-size: 23px;
	text-align: center;
}

.intensive__wrapper {
	display: flex;
	/* flex-flow: row wrap; */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 42px;
	/* gap: 15px 30px; */
}

.intensive__item {
	width: 360px;
}

.intensive__img {
	width: 100%;
}

.intensive__descr {
	margin-top: 15px;
	color: #4a4a4a;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

/* ************************************************************************
	info
*/

.info {
	background-color: #0f0b0b;
	padding: 100px 0 140px;
	min-height: 564px;
}

.info__title {
	color: #f9bf3b;
	font-size: 30px;
	text-align: right;
}

.info__text {
	position: relative;
	z-index: 2;
	margin-top: 19px;
	padding-left: 390px;
	color: #ffffff;
	font-weight: 300;
	font-size: 16px;
	text-align: right;
}

.info__text.medium {
	font-weight: 500;
}

.info__img {
	position: absolute;
	top: 93px;
	left: -83px;
	z-index: 1;
}

/* ************************************************************************
	skills
*/

.skills {
	background: url('../img/secondary_bg.jpg') center center/cover repeat;
	padding: 80px 0 102px;
}

.skills__title {
	color: #efefef;
	font-weight: 400;
	font-size: 30px;
}

.skills .divider {
	margin-top: 12px;
}

.skills__wrapper {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.skills__item {
	width: 224px;
}

.skills__round {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 100%;
	background: #f9bf3b;
	width: 118px;
	height: 118px;
}

.skills_desc {
	margin-top: 18px;
	color: #efefef;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}
