@use '/src/scss/base/variables.scss' as v;

@media screen and (min-width: 768px) {
	.header {
		&__nav {
			display: block;
			margin-top: 20px;

			ul {
				display: flex;
				// flex-direction: row;
				justify-content: center;
				gap: 30px;
			}
		}
		&__link {
			color: v.$dark;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: normal;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.burger {
		visibility: hidden;
	}
}
